.home-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    gap:0.5px
    /* flex:1; */
    /* flex-wrap: wrap; */
  }
  @media only screen and (max-width: 1000px) {
    .main-content {
      /* display: flex;
      flex-direction: column; */

    }
  

  }